body{
    background-color: hsl(185, 41%, 84%)!important;
}

.h{
    margin-top: 10%;
}

div{
    font-family: 'Space Mono', monospace;
}

.right-container, .tip{
    background-color: hsl(183, 100%, 15%);
}

.btn, .tip:hover{
    background-color: hsl(185, 41%, 84%)!important;
    cursor: pointer;
}

.tip:hover{
    transition: 0.3s;
    color: hsl(172, 67%, 45%)!important;
}

.num-p, .amount{
    font-size: 14px;
}

.dollar{
    color: hsl(172, 67%, 45%);
}

input{
    border: 1px solid hsl(172, 67%, 45%);
    border-radius: 3px;
    padding: 4px;
}